body {
    background-color: papayawhip;
}

p,ul>li {
    font-size: large;
}

.comName {
    color: lightcoral;
    text-align: center;
}

.sciname {
    font-style: italic;
    text-align: center;
}

.profile {
    height: 200px;
    border-radius: 50%;
    border-width: 12px;
    border-style: ridge;
}

.main {
    width; 100%;
    text-align: center;
}

.left50{
    width: 50%;
    float: left;
}

.right50{
    width: 50%;
    float: right;
}

.navbar {
    background-color: rgb(255, 198, 165);
    overflow: hidden;
    border-radius: 10px;
}

.navbar>a {
    float: left;
    color: rgb(227, 54, 54);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.navbar>a:hover{
    background-color: darksalmon;
    color: bisque;
    border-radius: 10px;
}